<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Reusable.Converters" version="2.4.2" targetFramework="net46" />
  <package id="Reusable.Fuse" version="2.4.2" targetFramework="net46" />
  <package id="Reusable.Utils" version="2.4.2" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net46" />
</packages>