<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Reusable.Data" version="1.0.8" targetFramework="net46" />
  <package id="Reusable.Extensions" version="1.0.8" targetFramework="net46" />
  <package id="Reusable.FluentValidation" version="1.0.8" targetFramework="net46" />
  <package id="Reusable.Formatter" version="1.0.8" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net46" />
</packages>