<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=TestDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\TestDb.mdf" providerName="System.Data.SqlClient" />
    <add name="SmartConfigTest" connectionString="Data Source=(local);Initial Catalog=SmartConfigTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="foo" connectionString="bar" providerName="System.Data.SqlClient" />
    <add name="baz.AppConfigSourceTests.ConnectionString2" connectionString="quux" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, SemanticVersion=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, SemanticVersion=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="Environment" value="ABC" />
    <add key="TestSetting" value="TestValue" />
    <add key="myApp.TestSetting" value="MyAppTestValue" />

    <add key="AppConfigSourceTests.Setting1" value="foo" />
    <add key="baz.AppConfigSourceTests.Setting2" value="bar" />
    <add key="baz.AppConfigSourceTests.Setting3" value="qux" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
