<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    
    <add name="TestDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\SmartConfigTestDb.mdf" providerName="System.Data.SqlClient"/>
    
    <add name="SmartConfigTest" connectionString="Data Source=(local);Initial Catalog=SmartConfigTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    
    <add name="foo" connectionString="bar" providerName="System.Data.SqlClient"/>
  
    
    <add name="baz.AppConfigSourceTests.ConnectionString2" connectionString="quux" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  
  <appSettings>
    <add key="Environment" value="ABC"/>
    <add key="TestSetting" value="TestValue"/>
    <add key="myApp.TestSetting" value="MyAppTestValue"/>

    <add key="AppConfigSourceTests.Setting1" value="foo"/>
    <add key="baz.AppConfigSourceTests.Setting2" value="bar"/>
    <add key="baz.AppConfigSourceTests.Setting3" value="qux"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
