<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>  
  <connectionStrings>
    
    <add name="StringSetting" connectionString="Foox"  providerName="System.Data.SqlClient"/>
    <add name="NestedConfig.StringSetting" connectionString="Barx" providerName="System.Data.SqlClient"/>

    <add name="thudy.StringSetting" connectionString="Fooxy"  providerName="System.Data.SqlClient"/>
    <add name="thudy.NestedConfig.StringSetting" connectionString="Barxy" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>  
  <appSettings>

    <add key="StringSetting" value="Foo"/>
    <add key="ArraySetting[0]" value="5"/>
    <add key="ArraySetting[1]" value="8"/>
    <add key="DictionarySetting[foo]" value="21"/>
    <add key="DictionarySetting[bar]" value="34"/>
    <add key="NestedConfig.StringSetting" value="Bar"/>
    <add key="IgnoredConfig.StringSetting" value="Qux"/>

    <add key="thud.StringSetting" value="Foox"/>
    <add key="thud.ArraySetting[0]" value="33"/>
    <add key="thud.ArraySetting[1]" value="77"/>
    <add key="thud.DictionarySetting[foo]" value="44"/>
    <add key="thud.DictionarySetting[bar]" value="88"/>
    <add key="thud.NestedConfig.StringSetting" value="Barx"/>
    <add key="thud.IgnoredConfig.StringSetting" value="Quxx"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
