<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>  
  <connectionStrings>
    <add name="Bar.Foo" connectionString="baz"  providerName="System.Data.SqlClient"/>
    <add name="FileTime" connectionString="quux" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  <appSettings>
    <add key="Foo" value="Bar"/>
    <add key="FileTime" value="Quax"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
